<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeetupExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B823E81317F4CE2900774DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B823E83717F4CE2900774DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B823E86817F4DA6700774DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
